<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UniLium - WebSite Templates</title>
    <meta name="description" content="Add you description here">
    <!-- Favicon for Website, Andoid and iOS-->
    <link rel="icon" type="image/png" href="statics/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <!-- UniLium CSS Files-->
    <link id="main-style" rel="stylesheet" href="css/unikorn.css" media="screen">
    <link id="main-style" rel="stylesheet" href="css/style.css" media="screen">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container"><a class="navbar-brand ml-3" href="#">UniLium</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Templates</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Samples</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Do-it-for-me</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main" role="main">
      <section class="blocks-group-wrapper" id="masthead">
        <div class="block-wrapper-header">
          <div class="block-background"></div>
          <section class="jumbotron text-light text-center">
            <div class="container">
              <h1 class="display-4">Web design made easy with high fidelity website templates</h1>
              <p class="lead">Use UniLium Templates to get a ready-made website. Add sections you need, remove those you don't. Voilá!</p>
              <p><a class="btn btn-primary btn-lg" href="#!" role="button">Learn more &raquo;</a></p>
            </div>
          </section>
        </div>
      </section>
            <section class="blocks-group-wrapper" id="mobile_app">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/mobile_app_1200x528.png, images/cards/mobile_app_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/mobile_app_1000x440.png, images/cards/mobile_app_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/mobile_app_800x352.png, images/cards/mobile_app_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/mobile_app_600x264.png, images/cards/mobile_app_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/mobile_app_1718x756.png" alt="Mobile App">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Mobile App</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="travel_agency">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/travel_agency_1200x528.png, images/cards/travel_agency_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/travel_agency_1000x440.png, images/cards/travel_agency_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/travel_agency_800x352.png, images/cards/travel_agency_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/travel_agency_600x264.png, images/cards/travel_agency_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/travel_agency_1718x756.png" alt="Travel Agency">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Travel Agency</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="software_dev">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/software_dev_1200x528.png, images/cards/software_dev_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/software_dev_1000x440.png, images/cards/software_dev_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/software_dev_800x352.png, images/cards/software_dev_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/software_dev_600x264.png, images/cards/software_dev_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/software_dev_1718x756.png" alt="Software development">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Software development</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="event">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/event_1200x528.png, images/cards/event_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/event_1000x440.png, images/cards/event_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/event_800x352.png, images/cards/event_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/event_600x264.png, images/cards/event_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/event_1718x756.png" alt="Event">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Event</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="cafe">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/cafe_1200x528.png, images/cards/cafe_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/cafe_1000x440.png, images/cards/cafe_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/cafe_800x352.png, images/cards/cafe_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/cafe_600x264.png, images/cards/cafe_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/cafe_1718x756.png" alt="Cafe">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Cafe</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="construction_company">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/construction_company_1200x528.png, images/cards/construction_company_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/construction_company_1000x440.png, images/cards/construction_company_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/construction_company_800x352.png, images/cards/construction_company_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/construction_company_600x264.png, images/cards/construction_company_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/construction_company_1718x756.png" alt="Construction Company">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Construction Company</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="web_design_agency">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/web_design_agency_1200x528.png, images/cards/web_design_agency_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/web_design_agency_1000x440.png, images/cards/web_design_agency_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/web_design_agency_800x352.png, images/cards/web_design_agency_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/web_design_agency_600x264.png, images/cards/web_design_agency_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/web_design_agency_1718x756.png" alt="Web design agency">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Web design agency</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="art_gallery">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/art_gallery_1200x528.png, images/cards/art_gallery_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/art_gallery_1000x440.png, images/cards/art_gallery_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/art_gallery_800x352.png, images/cards/art_gallery_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/art_gallery_600x264.png, images/cards/art_gallery_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/art_gallery_1718x756.png" alt="Art Gallery">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Art Gallery</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="consulting">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/consulting_1200x528.png, images/cards/consulting_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/consulting_1000x440.png, images/cards/consulting_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/consulting_800x352.png, images/cards/consulting_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/consulting_600x264.png, images/cards/consulting_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/consulting_1718x756.png" alt="Consulting">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Consulting</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="law_firm">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/law_firm_1200x528.png, images/cards/law_firm_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/law_firm_1000x440.png, images/cards/law_firm_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/law_firm_800x352.png, images/cards/law_firm_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/law_firm_600x264.png, images/cards/law_firm_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/law_firm_1718x756.png" alt="Law Firm">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Law Firm</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="invest_agency">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/invest_agency_1200x528.png, images/cards/invest_agency_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/invest_agency_1000x440.png, images/cards/invest_agency_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/invest_agency_800x352.png, images/cards/invest_agency_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/invest_agency_600x264.png, images/cards/invest_agency_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/invest_agency_1718x756.png" alt="Investment Agency">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Investment Agency</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="arch_firm">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/arch_firm_1200x528.png, images/cards/arch_firm_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/arch_firm_1000x440.png, images/cards/arch_firm_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/arch_firm_800x352.png, images/cards/arch_firm_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/arch_firm_600x264.png, images/cards/arch_firm_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/arch_firm_1718x756.png" alt="Architecture Firm">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Architecture Firm</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="beauty_salon">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/beauty_salon_1200x528.png, images/cards/beauty_salon_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/beauty_salon_1000x440.png, images/cards/beauty_salon_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/beauty_salon_800x352.png, images/cards/beauty_salon_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/beauty_salon_600x264.png, images/cards/beauty_salon_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/beauty_salon_1718x756.png" alt="Beauty Salon">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Beauty Salon</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="comp_repair">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/comp_repair_1200x528.png, images/cards/comp_repair_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/comp_repair_1000x440.png, images/cards/comp_repair_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/comp_repair_800x352.png, images/cards/comp_repair_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/comp_repair_600x264.png, images/cards/comp_repair_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/comp_repair_1718x756.png" alt="Computer Repair">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Computer Repair</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="it_services">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/it_services_1200x528.png, images/cards/it_services_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/it_services_1000x440.png, images/cards/it_services_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/it_services_800x352.png, images/cards/it_services_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/it_services_600x264.png, images/cards/it_services_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/it_services_1718x756.png" alt="IT Services">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">IT Services</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="logistic_company">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/logistic_company_1200x528.png, images/cards/logistic_company_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/logistic_company_1000x440.png, images/cards/logistic_company_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/logistic_company_800x352.png, images/cards/logistic_company_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/logistic_company_600x264.png, images/cards/logistic_company_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/logistic_company_1718x756.png" alt="Logistics Company">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Logistics Company</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="medical">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/medical_1200x528.png, images/cards/medical_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/medical_1000x440.png, images/cards/medical_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/medical_800x352.png, images/cards/medical_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/medical_600x264.png, images/cards/medical_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/medical_1718x756.png" alt="Medical">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Medical</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="photographer">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/photographer_1200x528.png, images/cards/photographer_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/photographer_1000x440.png, images/cards/photographer_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/photographer_800x352.png, images/cards/photographer_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/photographer_600x264.png, images/cards/photographer_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/photographer_1718x756.png" alt="Photographer">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Photographer</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="restaurant">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/restaurant_1200x528.png, images/cards/restaurant_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/restaurant_1000x440.png, images/cards/restaurant_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/restaurant_800x352.png, images/cards/restaurant_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/restaurant_600x264.png, images/cards/restaurant_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/restaurant_1718x756.png" alt="Restaurant">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Restaurant</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="single_property">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/single_property_1200x528.png, images/cards/single_property_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/single_property_1000x440.png, images/cards/single_property_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/single_property_800x352.png, images/cards/single_property_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/single_property_600x264.png, images/cards/single_property_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/single_property_1718x756.png" alt="Single Property">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Single Property</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="wedding_salon">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/wedding_salon_1200x528.png, images/cards/wedding_salon_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/wedding_salon_1000x440.png, images/cards/wedding_salon_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/wedding_salon_800x352.png, images/cards/wedding_salon_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/wedding_salon_600x264.png, images/cards/wedding_salon_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/wedding_salon_1718x756.png" alt="Wedding Salon">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Wedding Salon</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
            <section class="blocks-group-wrapper" id="yoga">
              <div class="block-wrapper-content">
                <div class="block-background"></div>
                <section>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card text-center">
                          <picture>
                            <source srcset="images/cards/yoga_1200x528.png, images/cards/yoga_2340x1030.png 2x" media="(min-width: 992px)">
                            <source srcset="images/cards/yoga_1000x440.png, images/cards/yoga_2000x880.png 2x" media="(min-width: 768px)">
                            <source srcset="images/cards/yoga_800x352.png, images/cards/yoga_1600x704.png 2x" media="(min-width: 480px)">
                            <source srcset="images/cards/yoga_600x264.png, images/cards/yoga_1200x528.png 2x" media="(min-width: 320px)"><img class="img-fluid" src="images/cards/yoga_1718x756.png" alt="Yoga">
                          </picture>
                          <div class="card-body">
                            <h2 class="card-title">Yoga</h2><a class="btn btn-primary rounded-pill m-3" href="#!" rel="nofollow" role="button">USE THIS TEMPLATE</a><a class="btn btn-outline-info rounded-pill m-3" href="#!" rel="nofollow" target="_blank" role="button">LIVE DEMO</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </section>
      <section class="blocks-group-wrapper" id="cta">
        <div class="block-wrapper-cta">
          <div class="block-background"></div>
          <section class="text-light text-center">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1>Create a website today</h1>
                  <p><a class="btn btn-light rounded-pill m-3" href="#!" rel="nofollow">GET STARTED FOR FREE</a></p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
    <footer class="py-4 text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="mb-0"> &copy; 2019 UniLium</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery first, then ...-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script id="unikorn" src="js/unikorn.umd.js"></script>
  </body>
</html>